# Adquisicion de Data

In [76]:
import pandas as pd

df_movies = pd.read_csv(r'.\Data\rotten_tomatoes_movies.csv')
df_reviews = pd.read_csv(r'.\Data\rotten_tomatoes_critic_reviews.csv')

# Preprocesamiento

In [77]:
df_movies.head()

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,content_rating,genres,directors,authors,actors,original_release_date,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,...,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
1,m/0878835,Please Give,Kate (Catherine Keener) and her husband Alex (...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,...,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19
2,m/10,10,"A successful, middle-aged Hollywood songwriter...",Blake Edwards' bawdy comedy may not score a pe...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,...,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Following the closing arguments in a murder tr...,Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,...,Criterion Collection,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","In 1866, Professor Pierre M. Aronnax (Paul Luk...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,...,Disney,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3

In [78]:
df_reviews.head()

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
0,m/0814255,Andrew L. Urban,False,Urban Cinefile,Fresh,NaN,2010-02-06,A fantasy adventure that fuses Greek mythology...
1,m/0814255,Louise Keller,False,Urban Cinefile,Fresh,NaN,2010-02-06,"Uma Thurman as Medusa, the gorgon with a coiff..."
2,m/0814255,NaN,False,FILMINK (Australia),Fresh,NaN,2010-02-09,With a top-notch cast and dazzling special eff...
3,m/0814255,Ben McEachen,False,Sunday Mail (Australia),Fresh,3.5/5,2010-02-09,Whether audiences will get behind The Lightnin...
4,m/0814255,Ethan Alter,True,Hollywood Reporter,Rotten,NaN,2010-02-10,What's really lacking in The Lightning Thief i...

Creamos el corpus con las columnas que creemos que son necesarias

In [79]:

#merged_data = pd.merge(df_movies,df_reviews, on='rotten_tomatoes_link', how='inner')
df_corpus = pd.merge( df_movies[[ 'rotten_tomatoes_link','movie_title']],df_reviews[['rotten_tomatoes_link','review_content']],  on='rotten_tomatoes_link')

### Convertir a minusculas y eliminar caracteres especiales

In [80]:
import pandas as pd
import re

def limpiarTexto(texto):
    # Convertir a minÃºsculas
    texto = texto.lower()
    # Eliminar caracteres especiales (excepto espacios y letras)
    texto = re.sub(r'[^a-zA-Z\s]', '', texto)
    return texto

In [81]:

df_corpus['textoLimpio'] = df_corpus['review_content'].apply(limpiarTexto)
df_corpus

AttributeError: 'float' object has no attribute 'lower'

In [82]:
# El error de anterior nos indica que en la columna review se encuentran datos Nan que nos impide procesar los textos
# Los eliminamos con dropna
df_corpus.dropna(subset=['review_content'], inplace=True)
df_corpus.head()

,rotten_tomatoes_link,movie_title,review_content
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,A fantasy adventure that fuses Greek mythology...
1,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Uma Thurman as Medusa, the gorgon with a coiff..."
2,m/0814255,Percy Jackson & the Olympians: The Lightning T...,With a top-notch cast and dazzling special eff...
3,m/0814255,Percy Jackson & the Olympians: The Lightning T...,Whether audiences will get behind The Lightnin...
4,m/0814255,Percy Jackson & the Olympians: The Lightning T...,What's really lacking in The Lightning Thief i...

In [83]:
# Procedemos a limpiar el texto y creamos una columna en el dataframe corpus
df_corpus['textoLimpio'] = df_corpus['review_content'].apply(limpiarTexto)
df_corpus.head()

,rotten_tomatoes_link,movie_title,review_content,textoLimpio
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,A fantasy adventure that fuses Greek mythology...,a fantasy adventure that fuses greek mythology...
1,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Uma Thurman as Medusa, the gorgon with a coiff...",uma thurman as medusa the gorgon with a coiffu...
2,m/0814255,Percy Jackson & the Olympians: The Lightning T...,With a top-notch cast and dazzling special eff...,with a topnotch cast and dazzling special effe...
3,m/0814255,Percy Jackson & the Olympians: The Lightning T...,Whether audiences will get behind The Lightnin...,whether audiences will get behind the lightnin...
4,m/0814255,Percy Jackson & the Olympians: The Lightning T...,What's really lacking in The Lightning Thief i...,whats really lacking in the lightning thief is...

### EliminaciÃ³n de stopwords y tokenizacion

In [84]:

import pandas as pd
from nltk.corpus import stopwords
import nltk

# Descargar stopwords de NLTK
nltk.download('stopwords')

# FunciÃ³n para eliminar stopwords
def eliminarStopwords(texto):
    palabras = texto.split()  # Divide el texto en palabras
    stop_words = set(stopwords.words('english'))  # ObtÃ©n las stopwords en inglÃ©s
    palabras_filtradas = [palabra for palabra in palabras if palabra.lower() not in stop_words]  # Filtra las stopwords
    return palabras_filtradas  #Recosntruye el texto sin las stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\dicam\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [85]:
df_corpus['textoSinStopWordsTokenizado'] = df_corpus['textoLimpio'].apply(eliminarStopwords)

In [86]:
df_corpus.head()

,rotten_tomatoes_link,movie_title,review_content,textoLimpio,textoSinStopWordsTokenizado
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,A fantasy adventure that fuses Greek mythology...,a fantasy adventure that fuses greek mythology...,"[fantasy, adventure, fuses, greek, mythology, ..."
1,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Uma Thurman as Medusa, the gorgon with a coiff...",uma thurman as medusa the gorgon with a coiffu...,"[uma, thurman, medusa, gorgon, coiffure, writh..."
2,m/0814255,Percy Jackson & the Olympians: The Lightning T...,With a top-notch cast and dazzling special eff...,with a topnotch cast and dazzling special effe...,"[topnotch, cast, dazzling, special, effects, t..."
3,m/0814255,Percy Jackson & the Olympians: The Lightning T...,Whether audiences will get behind The Lightnin...,whether audiences will get behind the lightnin...,"[whether, audiences, get, behind, lightning, t..."
4,m/0814255,Percy Jackson & the Olympians: The Lightning T...,What's really lacking in The Lightning Thief i...,whats really lacking in the lightning thief is...,"[whats, really, lacking, lightning, thief, gen..."

### Lemmatizacion

In [87]:
import nltk
from nltk.stem import WordNetLemmatizer

# Descargar los recursos necesarios de NLTK
nltk.download('wordnet')

# Inicializar el lemmatizer de NLTK
#lemmatizer = WordNetLemmatizer()

# FunciÃ³n para lematizar el texto
def lematizarTexto(lista_palabras):
    lemmatizer = WordNetLemmatizer()
    palabrasLematizadas = [lemmatizer.lemmatize(palabra) for palabra in lista_palabras]  # Lematiza cada palabra
    return ' '.join(palabrasLematizadas)

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\dicam\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [88]:
# Aplicar la lematizaciÃ³n a la columna de texto
df_corpus['textoLematizado'] = df_corpus['textoSinStopWordsTokenizado'].apply(lematizarTexto)

# Construccion del Sistema

### VectorizaciÃ³n utilizando tf-idf

In [89]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd

# VectorizaciÃ³n utilizando TF-IDF
vectorizer = TfidfVectorizer()
# Aplicar la vectorizaciÃ³n sobre el corpus con el texto preprocesado
X_corpus = vectorizer.fit_transform(df_corpus['textoLematizado'])

### Vectorizacion de la Query

In [90]:
# Vectorizar la query ene el mismo espacio vectorial del corpus
query1 = "Movies about space travel"
X_query1 = vectorizer.transform([query1])

In [91]:
# Vectorizar la query ene el mismo espacio vectorial del corpus
query2 = "Movies to watch with the family"
X_query2 = vectorizer.transform([query2])

### Calculo de la similitud entre la query y el corpus

In [92]:
import numpy as np

# Calcular la similitud de coseno entre la query y el corpus
cosineSimilarityQuery1 = cosine_similarity(X_query1, X_corpus)

# Ordenar las similitudes de mayor a menor y obtener los Ã­ndices de los 10 documentos mÃ¡s similares
topQuery1 = np.argsort(cosineSimilarityQuery1[0])[::-1][:10]

In [93]:

# Calcular la similitud de coseno entre la query y el corpus
cosineSimilarityQuery2 = cosine_similarity(X_query2, X_corpus)

# Ordenar las similitudes de mayor a menor y obtener los Ã­ndices de los 10 documentos mÃ¡s similares
topQuery2 = np.argsort(cosineSimilarityQuery2[0])[::-1][:10]

### PresentaciÃ³n de los resultados del sistema

In [94]:
print(f"Query 1: {query1} \n")
i = 1 
#En este bucle recorremos los 10 documentos y recuperamos la informacion de dichos indices
for idx in topQuery1 :
    similitud = cosineSimilarityQuery1[0][idx]  # Grado de similitud para el documento
    print(f"Top {i}")
    print(f"Documento {idx}:")
    print(f"  Grado de similitud: {similitud:.4f}")
    print(f"  TÃ­tulo: {df_corpus['movie_title'].iloc[idx]}")
    print(f"  ReseÃ±a: {df_corpus['review_content'].iloc[idx]}")
    print("\n")
    i = i+1

Query 1: Movies about space travel

Top 1
Documento 99226:
  Grado de similitud: 0.6932
  TÃ­tulo: Ad Astra
  ReseÃ±a: Ad Astra isn't so much about the science of space and space travel as it is about the spaces between people.


Top 2
Documento 322525:
  Grado de similitud: 0.6896
  TÃ­tulo: First Man
  ReseÃ±a: The special effects depicting space travel in this movie are loud, violent and claustrophobic, making the dangers of space travel seem more personal.


Top 3
Documento 128991:
  Grado de similitud: 0.5850
  TÃ­tulo: Apollo 11
  ReseÃ±a: The film helps audiences travel into space with such ease. [Full Review in Spanish]


Top 4
Documento 204943:
  Grado de similitud: 0.5552
  TÃ­tulo: Captain Abu Raed
  ReseÃ±a: His journey makes for a complex film that goes beyond the obvious. It, too, travels. And it travels well.


Top 5
Documento 433974:
  Grado de similitud: 0.5363
  TÃ­tulo: It! The Terror From Beyond Space
  ReseÃ±a: Combination science fiction film and thriller is an early look at space travel on film.


Top 6
Documento 99316:
  Grado de similitud: 0.5158
  TÃ­tulo: Ad Astra
  ReseÃ±a: The thing about having daddy issues is that you can never escape them. No matter how far you travel, even into space.


Top 7
Documento 426260:
  Grado de similitud: 0.5021
  TÃ­tulo: Interstellar
  ReseÃ±a: Space in your face. Beautiful, beautiful space. An awe inspiring journey across the cosmos that travels to the heart of humanity; flaws and all.


Top 8
Documento 325123:
  Grado de similitud: 0.4928
  TÃ­tulo: Flight of the Navigator
  ReseÃ±a: An exciting time travel adventure.


Top 9
Documento 99307:
  Grado de similitud: 0.4847
  TÃ­tulo: Ad Astra
  ReseÃ±a: The mundane aspects of space travel are definitely shown, but thankfully broken with some action- space monkeys and moon pirates included.


Top 10
Documento 790684:
  Grado de similitud: 0.4826
  TÃ­tulo: Source Code
  ReseÃ±a: A time travel drama with a difference.

In [95]:
print(f"Query 2: {query2} \n")
i = 1 
for idx in topQuery2:
    print(f"Top {i}")
    similitud = cosineSimilarityQuery2[0][idx]  # Grado de similitud para el documento
    print(f"Documento {idx}:")
    print(f"  Grado de similitud: {similitud:.4f}")
    print(f"  TÃ­tulo: {df_corpus['movie_title'].iloc[idx]}")
    print(f"  ReseÃ±a: {df_corpus['review_content'].iloc[idx]}")
    print("\n")
    i = i+1

Query 2: Movies to watch with the family

Top 1
Documento 685035:
  Grado de similitud: 0.7560
  TÃ­tulo: Rock Dog
  ReseÃ±a: A decent watch for families.


Top 2
Documento 685036:
  Grado de similitud: 0.7560
  TÃ­tulo: Rock Dog
  ReseÃ±a: A decent watch for families.


Top 3
Documento 212162:
  Grado de similitud: 0.7194
  TÃ­tulo: Cats
  ReseÃ±a: What did I just watch?


Top 4
Documento 153630:
  Grado de similitud: 0.7194
  TÃ­tulo: Beasts of the Southern Wild
  ReseÃ±a: When can we watch it again?


Top 5
Documento 1041410:
  Grado de similitud: 0.7194
  TÃ­tulo: Why Him?
  ReseÃ±a: Why watch "Why Him?"


Top 6
Documento 462317:
  Grado de similitud: 0.6946
  TÃ­tulo: Kiss the Bride
  ReseÃ±a: It's about family.


Top 7
Documento 966492:
  Grado de similitud: 0.6451
  TÃ­tulo: The Watch
  ReseÃ±a: The Watch is hard to watch.


Top 8
Documento 681005:
  Grado de similitud: 0.6446
  TÃ­tulo: A River Runs Through It
  ReseÃ±a: A great movie to watch with the family at Christmas.


Top 9
Documento 681006:
  Grado de similitud: 0.6446
  TÃ­tulo: A River Runs Through It
  ReseÃ±a: A great movie to watch with the family at Christmas.


Top 10
Documento 126389:
  Grado de similitud: 0.5503
  TÃ­tulo: Ant-Man and the Wasp
  ReseÃ±a: Ant-Man and the Wasp is a family film - about nuclear families, grieving families, broken families, found families. It's about fighting for the safety of your family.

### Analisis de Resultados

Limitamos el listado de peliculas a 10 para observar cuales son las mas relevantes y por los resultados el sistema devulve parcialmente resutados correctos.

Query 1: Movies about space travel 
El documemto en el ranking 4 y 10 no son los resultados que esperabamos ya que la consulta era sobre viajes en el tiempo pero dado que no se trato como un bigrama la palabra space travel, el sistema busco de forma independiente las palabras dado resultados no relevantes.

Query 2: Movies to watch with the family 
El documemto en el ranking 3, 4 y 5 la palabra watch tiene el mismo peso que la palabra family y nos esta devolviendo resultados no relevantes.

Una mejora seria incorporar el uso de n-gramas en la vectorizacion y dado que el corpus es mucho mas grande y con informaciÃ³n variada se tendria que tomar en cuenta modificar los parametros de la tecnica de vectorizacion TF-IDF